.BuildControls {
  width: 100%;
  background-color: #fafafa;;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 6px 6px 0px #ccc;
  margin: auto;
  padding: 10px 0;
  border-radius: 15px;
}

.BuildControls button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 0 0 #cccccc;
}

.BuildControls button:disabled {
    background-color: #e5e5e5;
    border: 1px solid #cdcdcd;
    color: #ccc;
    cursor: default;
}

.BuildControls button:hover:disabled {
    background-color: #e5e5e5;
    color: #ccc;
    cursor: not-allowed;
}
