.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {
    background-color: #ffb2b2;
    color: black;
    width: 80px;
}

.BuildControl .More {
    background-color: #80ff83;
    color: black;
    width: 80px;
}
